body{
    margin: 0;
    padding: 0;
    background-color: rgb(80, 80, 80);
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image:-moz-radial-gradient(rgba(0, 128, 0, 0.322),rgba(255, 255, 0, 0.363)) ;
    width: 50vw;
    height: 65vh;
    padding: 40px;
    border-radius: 7%;
}
.data > input,
.data > img,
.data > button {
    width: 90%;
}
.data > input,
.data > button {
    height: 50px;
    border-radius: 5px;
}
.data input {
    color: rgb(230, 230, 230);
    background-color: rgb(59, 59, 59);
    text-align: center;
}
.data button {
    color: white;
    background-color: rgba(0, 0, 0, 0.404);
}

#display{
    max-width: 200px;
    margin: 30px 0px;
    padding: 20px;
    background-color: white;
}